{% extends "incomes/layout.html" %}
{% block styles %}

    
{% endblock %}
{% block title %} Filter
            {% endblock %}

            {% block scripts %}
            
            {% endblock %}    
{% block body %}
<hr>
<form method="POST">
    {% csrf_token %}
From:<input type="date" name="fromdate" >
To:<input type="date" name="todate">
<input type="submit" name="Search">
<input type="hidden" name="form_id" value="search">
<hr>
<center>
    <table border="2">
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Category</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{transaction.incAmount}}</td>
            <td>{{transaction.get_transaction_category_display}}</td>
            <td>{{transaction.transaction_date}}</td>
        </tr>
        {% empty %}
        <tr>
            <td>No transactions yet</td>
        </tr>
        {% endfor %}
    </table>
    
</form>

<hr>
<a href="{% url 'index1' %}">View Expenses</a>
</center>

{% endblock %}