{% extends "incomes/layout.html" %}

{% block body %}

    <h1> Profile of {{incomes.first.person}}</h1>

    <h2> Incomes</h2>
    <ul>
        {% for income in incomes %}
            <li> ${{income.incAmount}} - from {{income.category}} </li>
        {% endfor %}
    </ul>
    
    <h2> Expenses</h2>
    <ul>
        {% for expense in expenses %}
            <li> ${{expense.expAmount}} - from {{expense.category}} </li>
        {% endfor %}
    </ul>

    <a href="{% url 'index1' %}">Back to all customers</a>

{% endblock %}